@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 215 17% 16%;
    --card: 0 0% 100%;
    --card-foreground: 215 17% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 17% 16%;
    --primary: 183 100% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 215 17% 16%;
    --muted: 0 0% 94%;
    --muted-foreground: 215 17% 40%;
    --accent: 0 0% 94%;
    --accent-foreground: 215 17% 16%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 183 100% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 17% 16%;
    --foreground: 0 0% 93%;
    --card: 218 11% 25%;
    --card-foreground: 0 0% 93%;
    --popover: 218 11% 25%;
    --popover-foreground: 0 0% 93%;
    --primary: 183 100% 41%;
    --primary-foreground: 215 17% 16%;
    --secondary: 218 11% 22%;
    --secondary-foreground: 0 0% 93%;
    --muted: 218 11% 22%;
    --muted-foreground: 0 0% 60%;
    --accent: 183 100% 41%;
    --accent-foreground: 215 17% 16%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 93%;
    --border: 218 11% 30%;
    --input: 218 11% 30%;
    --ring: 183 100% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
